.formElement{
    position: fixed;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.tree{
    position: fixed;
    width:700px;
    z-index: 1;
}
form{
    margin-top: 30vh;
}
.inputS{
	width:100%;
    height:98%;
	font-size: 17px;
	color:#37353f;
	text-indent:10px;
	border:0;
    outline:none;
}
.inputSBox{
	width: 20vw;
    height: 42px;
    margin-left: 55vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d8d8d8;
}
input:selected{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid  #3f3d56; 
    transition: border-bottom 0.8s ease-in;
}
input:focus{
    outline: none;
    border-bottom: 2px solid  #3f3d56; 
}
.buttonBox {
    border-radius: 4px;
    background-color: rgb(12,194,146);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding:10px;
    width: 20vw;
    height:45px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top:10px;
    margin-left: 56vw;
    margin-right: auto;
}
.buttonBox span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttonBox:hover{
    background-color: rgb(14, 168, 125);
}
.buttonBox:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonBox{
    background-color:  rgb(15, 184, 137) ;
}
.avatar{
    position: fixed;
    width: 100px;
    margin-top:10vh;
    right: 31vw;
}
