nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 10vh;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.links{
    padding:7px;
    text-decoration: none;
    color: rgb(0, 0,0);
}
.links:hover{
    color :  rgb(12,194,146);
    border-left: 1px solid  rgb(12,194,146);
    border-right: 1px solid rgb(12,194,146);
}